.status-bar{
    display: flex;
    padding: 5px 3px;
    width:100%;
    box-sizing: border-box;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}
.status-bar__column:first-child{
    position:absolute;
    left:0px;
  }
.status-bar__column:last-child{
    position:absolute;
    right:0px;
  }